<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/login.css" rel="stylesheet">
</head>
<body background="images/batman_vs_superman.jpg">

<button id="login">Sign In</button>

       <div id="login-box">

           <form>
                  <h1>New User</h1><br><br>

               <label for="Email">Email</label>
               <input type="text" id="Email" name="Email">

               <label for="userName">Username</label>
               <input type="text" id="userName" name="userName">

               <label for="password">Password</label>
               <input type="password" id="password" name="userName">

               <input type="submit" value="Sign Up">
           </form>

       </div>

</body>
</html>