<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/login.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body background="images/screen.jpg">

<h1 id="title">MovieFlix</h1>

<div id="login-box">

    <form>
        <h1>New User</h1><br><br>

        <label for="Email">Email</label>
        <input type="text" id="Email" name="Email">

        <label for="userName">Username</label>
        <input type="text" id="userName" name="userName">

        <label for="password">Password</label>
        <input type="password" id="password" name="password">

        <label for="password">Confirm Password</label>
        <input type="password" id="confirm" name="confirm">

        <a href="login.html"><button type="button" id="login">Sign Up</button></a>
        </form>
    </div>
</body>
</html>