body{
    background-color: black;
    outline: none;
}
#sidebar-wrapper{
    background-color: chocolate;
}
#images{
   margin-left: 20px;
    margin-top: 30px;
}
#images img{
    opacity: 0.7;
}
#images img:hover{
    opacity: 1;
}
#images img.zoom{
    zoom: 120%;
}
.col-xs-3 {
    margin-top: 30px;
}
.col-xs-3:hover{
    cursor: pointer;
    height: auto;
    width: auto;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.sidebar-nav li a{
    color:black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}
.sidebar-nav li a:hover{
    color:orangered;
    background-color: black;
}
.item img{
    width: 750px;
    margin-left: 12.5%;
}
.btn-group{
    margin-top: -110px;
    margin-left: 900px;
}
#menu-toggle,.btn-warning{
    background-color: orangered;
    color: snow;
    font-family: sans-serif;
    font-style: oblique;
    border-radius: 5px;
    outline: none;
    margin-top: -5px;
}
#menu-toggle:hover, .btn-warning:hover{
    color: black;
    background-color: gold;
}
#images{
    margin-top: 5px;
}

footer{
    height: 120px;
    margin-left: -20px;
    margin-top: 1050px;
    background-color: #262626;
    color: white;
}

.col-xs-4{
    text-align: center;
    cursor: default;
}

.col-xs-4 h4{
    color: orangered;
    cursor: pointer;
}

.col-xs-4 p{
    font-size: 0.95em;
}

.col-xs-4 p:hover{
    color: goldenrod;
    background-color: transparent;
    display: inline-block;

}

.fa-facebook-official{
    color: #3B5998;
    background-color: white;
}

.fa-twitter{
    color:white;
    background-color: #2998DF;
}

.fa-instagram{
    background: radial-gradient(darkviolet,orange);
}

input[type = text]{
    position: absolute;
    border-radius: 15px;
    outline: none;
    height:2.2em;
    width: 90%;
    margin-top: -35px;
    margin-left: 250px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    z-index: 1;
}
#find,#sort,#search{
    background-color: gold;
    color:black;
    margin-right: 10px;
    width: 70px;
    outline: none;
}
#find:hover,#sort:hover,#search:hover{
    background-color: black;
    color:snow;
}

#filter{
    position: absolute;
    margin-left:250px;
    margin-top: -50px;
}

.list{
    display: none;
}

.list:hover{
    display: inline;
    background-color: gold;
}